.container{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;


}
.add{
    width: 45vw;
    height:80vh;
    text-decoration: none;
    background-color: #1a1a22;

    margin:20px;
    margin-right: 1rem;
    border-radius: 10px;
    color: white;

    
    
}
.sub{
    width: 45vw;
    height: 80vh;
    text-decoration: none;
    background-color: #1a1a22;
    margin: 20px;
    margin-left: 1rem;
    border-radius: 10px;
    
    color: white;
    
}
.heading{
    margin: auto;
    width:88.5vw;
   text-align: center;
    font-size: 2rem;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 1.5rem;
}
h1{
    margin-top: 32vh;
}